<!-- /LocalFund/views/post/lst.ejs -->
<%- include('../cabecalho.ejs') %>
<main class="main">
    <form method="post" class="form_lst">
        <div class="form_lst__search">
            <input name="pesquisar" type="text" class="form_lst__input" id="exampleFormControlInput1" placeholder="Pesquisar">
        </div>
    </form>
    <table class="table">
        <tr>
            <th class="table__header">Id</th>
            <th class="table__header">Titulo</th>
            <th class="table__header">Data</th>
            <th class="table__header">Foto</th>
            <th class="table__header">Editar</th>
            <th class="table__header">Deletar</th>
        </tr>
        <% Posts.forEach(function(post){ %>
            <tr class="table__row">
                <td class="table__cell"><%=post._id %></td>
                <td class="table__cell"><%=post.titulo %></td>
                <td class="table__cell"><%=post.data %></td>
                <td class="table__cell">
                    <img class="table__image" src="/fotos/<%=post.foto %>" alt="Foto do Post">
                </td>
                <td class="table__cell">
                    <a href="/admin/post/edt/<%=post._id %>" class="table__link">Editar</a>
                </td>
                <td class="table__cell">
                    <a href="/admin/post/del/<%=post._id %>" class="table__link">Excluir</a>
                </td>
            </tr>
        <% }) %>
    </table>
</main>
<%- include('../rodape.ejs') %>